# Fase 6 - Deployment
En esta fase mostramos cÃ³mo usar el modelo entrenado (`linear_regression.pkl`) 
para predecir el precio de un auto BMW nuevo.

In [4]:
import pandas as pd
import joblib
import pickle

In [2]:
# Ruta del modelo entrenado
model_path = "../data/06_models/bmw_price_model.pkl"

# Cargar el pipeline completo (con OneHotEncoder + StandardScaler + LinearRegression)
pipeline = joblib.load(model_path)

print("âœ… Modelo cargado para despliegue")

âœ… Modelo cargado para despliegue

In [3]:
# Auto nuevo (ejemplo)
nuevo_auto = pd.DataFrame([{
    "Model": "X5",
    "Year": 2022,
    "Region": "Europe",
    "Color": "Black",
    "Fuel_Type": "Petrol",
    "Transmission": "Automatic",
    "Engine_Size_L": 3.0,
    "Mileage_KM": 15000,
    "Sales_Volume": 200,
    "Sales_Classification": "High"
}])

print("ðŸš˜ Datos del nuevo auto:")
display(nuevo_auto)

ðŸš˜ Datos del nuevo auto:

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Sales_Volume,Sales_Classification
0,X5,2022,Europe,Black,Petrol,Automatic,3.0,15000,200,High

In [4]:
# Predecir precio
prediccion = pipeline.predict(nuevo_auto)

print(f"ðŸ’° Precio estimado del auto: {prediccion[0]:,.2f} USD")

ðŸ’° Precio estimado del auto: 74,687.66 USD

In [5]:
def predecir_precio(auto_dict):
    df_auto = pd.DataFrame([auto_dict])
    return pipeline.predict(df_auto)[0]

In [6]:
precio = predecir_precio({
    "Model": "3 Series",
    "Year": 2021,
    "Region": "North America",
    "Color": "White",
    "Fuel_Type": "Diesel",
    "Transmission": "Manual",
    "Engine_Size_L": 2.0,
    "Mileage_KM": 30000,
    "Sales_Volume": 150,
    "Sales_Classification": "Medium"
})

print(f"ðŸ’° Precio estimado: {precio:,.2f} USD")

ðŸ’° Precio estimado: 75,673.90 USD